In [24]:
import pandas as pd

In [25]:
school_data = "/Users/raulacosta/Desktop/raul-pandas-challenge/Resources/schools_complete.csv"
student_data = "/Users/raulacosta/Desktop/raul-pandas-challenge/Resources/students_complete.csv"

school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [37]:
#Achieving the total number of schools
total_schools = len(complete_df["school_name"].unique())
#Achieving the total number of students
total_students = len(complete_df["student_name"].unique())
#Total budget
total_budget = sum(complete_df["budget"].unique())
#Average math score and reading scores
avg_math = complete_df["math_score"].mean()
avg_read = complete_df["reading_score"].mean()
#Percent of students who pass math, reading, and both
pass_math = df.loc[complete_df["math_scores"]>= 70, :]
pass_math
#pass_read =
#pass_both =

NameError: name 'df' is not defined